<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

        * {
            margin: 0;
        }

        body {
            --clr-primary-darker: #13242A;
            --clr-background: #fff;
            --clr-primary: #2A9D8F;
            font-family: 'Roboto', sans-serif;
            background: var(--clr-background);
        }
        
        div {
            position: fixed;
            top: 20vh;
            left: 20vw;
        }

        h1 {
            font-size: 30vh;
            color: var(--clr-primary-darker);
        }

        p {
            font-size: 7vh;
            color: var(--clr-primary)
        }
        
    </style>
</head>

<body>
    <div>
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</body>
</html>