<!DOCTYPE html>
<html lang="pl">
{{> utils}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="menu">
        <img class="menu__logo" src="/img/logo_main.png" alt="Logo">
        <div class="wrapper">
            <div class="menu__content">
                <div class="menu__sides"></div>
                <div class="menu__list">
                    <a class="menu__a" href="/">Strona główna</a>
                    <a class="menu__a" href="/admin/add">Dodawanie</a>
                    <a class="menu__a" href="/admin/edit">Edytowanie</a>
                    <a class="menu__a" href="/admin/remove">Usuwanie</a>
                </div>
                <div class="menu__sides"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="empty"></div>
    <div class="content">
        <div id="logout"><img src="/img/logout.png"></div>
        <p>Usuwanie miejsc</p>
        <div>
            <select id="miejsceSel">
                <option disabled selected value>--wybierz miejsce--</option>
            </select>
        <input type="submit" id="sub1">
        
        </div>
        <p>Usuwanie wydarzeń</p>
        <div>
        <select id="eventSel">
            <option disabled selected value>--wybierz wydarzenie--</option>
        </select>
        <input type="submit" id="sub2">
        </div>

        {{> adminUtils}}
        <script> getEvents(2); getPlaces(2);</script>
    </div>
</body>
</html>